<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd"
	default-autowire="byName" default-lazy-init="false">

	<!-- Configure spring to give a hook to axis2 without a ServletContext -->
	<bean id="applicationContext"
		class="org.apache.axis2.extensions.spring.receivers.ApplicationContextHolder" />

	<!-- Axis2 Web Service, but to Spring, its just another bean that has dependencies -->
	<bean id="agentPaymentAxisSkeleton" class="com.sysway.outwardtps.service.pay.AgentPaymentServiceSkeleton">
		<property name="userServiceSN" ref="userServiceSN" />
	</bean>
	
</beans>
