body{margin: 0px;background: #ffffff; font-size:12px; }
iframe{width: 100%;	height: 100%;border: 1px solid lightgrey;background-color: white;}
.top-bg{ padding:0 0 0 0px; margin:0px; width:100%; height:100px; background:url(images/top-bg.gif) repeat-x left top; overflow:hidden;}
.top-left{ float:left; display:inline; padding:0px; margin:0 0 0 50px; width:277px; height:100px; background:url(images/top-left.gif) no-repeat left top;}
.top-right{ float:right; display:inline; padding:0 0 0 0px; margin:0px; width:312px; height:100px; background:url(images/top-right.gif) no-repeat right top; }
.top-link{ margin:75px 0 0 150px; color:#81340c; font-size:12px;}
.top-link a{ margin:0 20px 0 0 ; color:#81340c; text-decoration:none;}

#tree-bg{ margin:0px; padding:0px;  background:url(images/tree-bg.gif) no-repeat bottom left fixed #fbfbfb; height:100%; width:100%; }
#tree{  margin: 0px 0 0 10px; padding: 10px 0 0 0;   height:100%; width:209px; overflow:auto;}
#tree-top{ margin: 0px; padding: 0 0 0 20px ; height:30px; line-height:30px; font-weight:bold; background:url(images/tree-top.gif) repeat-x left top ; }
